@inherits BaseComponent;

<table
    align="center"
    width="100%"
    border="0"
    cellPadding="0"
    cellSpacing="0"
    role="presentation"
    style="@Style"
    @attributes="@Attributes"
>
    <tbody>@ChildContent</tbody>
</table>